:root {
  --main-title-color: #212121;
  --secondary-title-color: #ffffff;
  --main-text-color: #757575;
  --accent-color: rgba(255, 255, 255, 0.6);
  --secondary-accent-color: #2196f3;
  --background-color-hero-footer: #2f303a;
  --background-color-body: #ffffff;
  --background-color-section: #f5f4fa;
  --hero-button-color-hover: #188ce8;
  --header-border-color: #ececec;
  --projects-border-color: #eeeeee;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  background-color: var(--background-color-body);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
.link:hover,
.link:focus {
  color: var(--secondary-accent-color);
}

.btn {
  cursor: pointer;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* //////////////шапка header/////////////////////////*/

.header {
  border-bottom: 1px solid var(--header-border-color);
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation {
  display: flex;
  align-items: center;
}
.header-list {
  display: flex;
  align-items: center;
}

.header-contacts {
  display: flex;
  align-items: center;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-contacts-items:not(:last-child) {
  margin-right: 50px;
}
.header-logo:hover,
.header-logo:focus {
  color: var(--main-title-color);
}

.header-logo {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 93px;
  color: var(--main-title-color);
}

.header-logo > span {
  color: var(--secondary-accent-color);
}
.header-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}

.link.current {
  color: var(--secondary-accent-color);
}

.header-contacts-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

/* //////////////////hero герой/////////////////// */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--background-color-hero-footer);
}

.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-title-color);
}
.center {
  text-align: center;
}
.hero-button {
  min-width: 200px;
  padding: 10px 32px;
  align-items: center;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--secondary-title-color);
  background-color: var(--secondary-accent-color);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--hero-button-color-hover);
}
/* //////////////Преимущества features/////////////////////////*/

.features-list {
  display: flex;
}
.features-item {
  flex-basis: calc((100% - 120px) / 4);
  margin-right: 30px;
}

.features-item:nth-child(4n) {
  margin-right: 0px;
}

.features-item-title {
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.features-item-text {
  line-height: 1.71;
  color: var(--main-text-color);
}

/* //////////////Чем мы занимаемся doing/////////////////////////*/

.doing {
  padding-top: 0;
}
.doing-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.doing-list {
  display: flex;
  flex-wrap: wrap;
}

.doing-item {
  flex-basis: calc(100% - 90px) / 3;
}
.doing-item:not(:last-child) {
  margin-right: 30px;
}
/* //////////////Наша команда team/////////////////////////*/

.team-list {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}

.team-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.team-member {
  flex-basis: calc(100% - 120px) / 4;
  text-align: center;
  margin-left: 30px;
  margin-top: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.member-name {
  padding: 30px 0px;
}

.team-member-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team-member-text {
  font-size: 16px;
  line-height: 1.19;
  color: var(--main-text-color);
}

.team {
  background-color: var(--background-color-section);
}

/* //////////////футер footer/////////////////////////*/

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-color-hero-footer);
}
.footer-logo:hover,
.footer-logo:focus {
  color: var(--secondary-title-color);
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
  color: var(--secondary-title-color);
}

.footer-logo > span {
  color: var(--secondary-accent-color);
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.address {
  color: var(--secondary-title-color);
}

/* //////////////Проекты projects/////////////////////////*/

.projects-btn-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.projects-button.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  background-color: var(--background-color-section);
}
.projects-button {
  margin-right: 8px;
  border-radius: 4px;
  border: none;
  padding: 6px 22px 6px 22px;
}

.projects-button.btn:hover,
.projects-button.btn:focus {
  color: var(--secondary-title-color);
  background-color: var(--secondary-accent-color);
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.projects-item {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
}

.projects-name {
  border-bottom: 1px solid var(--projects-border-color);
  border-right: 1px solid var(--projects-border-color);
  border-left: 1px solid var(--projects-border-color);
  padding: 20px 24px;
}
.projects-link-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
}

.projects-link-text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--main-text-color);
}
